In [24]:
import json
import pandas as pd

In [25]:
with open("places.json") as places_file:
    places_dict = json.load(places_file)

In [26]:
df_places = pd.json_normalize(places_dict, record_path="features")
df_places

,type,properties.identifier,properties.name,properties.information,properties.categories,properties.campus,properties.faculties,properties.floors,properties.category,geometry.type,geometry.coordinates
0,Feature,food_lunch-23546931,Casino Edificio K,,food_lunch,SJ,,[1],,Point,"[-70.61187019177152, -33.50009142926184]"
1,Feature,food_lunch-23546836,Food Garden,,food_lunch,SJ,,[1],,Point,"[-70.61363276621337, -33.49714374488435]"
2,Feature,food_lunch-23546766,Copper,,food_lunch,SJ,,[1],,Point,"[-70.61423309021697, -33.49989013336953]"
3,Feature,food_lunch-23546703,Pronto Copec,,food_lunch,SJ,,[1],,Point,"[-70.61511549840723, -33.4979081346675]"
4,Feature,other-23525482,TEST PRODUCTION,,other,SJ,,[1],,Point,"[-70.60693777999894, -33.50100890181019]"
...,...,...,...,...,...,...,...,...,...,...,...
684,Feature,Baño universal,Baño universal,,,SJ,,[2],bath,Point,"[-70.611872482, -33.49973815]"
685,Feature,Salon Verde,Salon Verde,,,SJ,,[1],auditorium,Point,"[-70.61438299, -33.5000108]"
686,Feature,Auditorio Centro de innovación UC,"Auditorio Centro de innovación UC, Anacleto An...",,,SJ,,[1],auditorium,Point,"[-70.615135, -33.4977493]"
687,Feature,IMC,Instituto de Ingeniería Matemática y Computaci...,,other,SJ,,[2],other,Point,"[-70.61497841845777, -33.49964476408786]"
688,Feature,AP502,AP502,,,NaN,,[5],classroom,Point,"[-70.61017991925826, -33.49669113095027]"

In [27]:
df_places.loc[
    (df_places["properties.categories"] == "") & (df_places["properties.category"] != ""),
    "properties.categories"
] = df_places.loc[
    (df_places["properties.categories"] == "") & (df_places["properties.category"] != ""),
    "properties.category"
]

In [101]:
## df_places[(df_places["properties.categories"] != "") & (df_places["properties.category"] != "")]

# Revisando estos datos, esta claro que categories siempre tendra prioridad sobre category, sobre todo porque el Rocka actualiza manualmente los datos y estos se actualizan solo en category.

In [28]:
df_places.columns

Index(['type', 'properties.identifier', 'properties.name',
       'properties.information', 'properties.categories', 'properties.campus',
       'properties.faculties', 'properties.floors', 'properties.category',
       'geometry.type', 'geometry.coordinates'],
      dtype='object')

In [29]:
df_places.drop(columns=["properties.category"], inplace=True)

In [30]:
df_places["properties.categories"]

0      food_lunch
1      food_lunch
2      food_lunch
3      food_lunch
4           other
          ...
684          bath
685    auditorium
686    auditorium
687         other
688     classroom
Name: properties.categories, Length: 689, dtype: object

In [31]:
[~ df_places['properties.categories'].apply(lambda x: isinstance(x, (str)))]

[0      False
 1      False
 2      False
 3      False
 4      False
        ...
 684    False
 685    False
 686    False
 687    False
 688    False
 Name: properties.categories, Length: 689, dtype: bool]

In [32]:
df_places[~df_places['properties.categories'].apply(lambda x: isinstance(x, (list)))]

,type,properties.identifier,properties.name,properties.information,properties.categories,properties.campus,properties.faculties,properties.floors,geometry.type,geometry.coordinates
0,Feature,food_lunch-23546931,Casino Edificio K,,food_lunch,SJ,,[1],Point,"[-70.61187019177152, -33.50009142926184]"
1,Feature,food_lunch-23546836,Food Garden,,food_lunch,SJ,,[1],Point,"[-70.61363276621337, -33.49714374488435]"
2,Feature,food_lunch-23546766,Copper,,food_lunch,SJ,,[1],Point,"[-70.61423309021697, -33.49989013336953]"
3,Feature,food_lunch-23546703,Pronto Copec,,food_lunch,SJ,,[1],Point,"[-70.61511549840723, -33.4979081346675]"
4,Feature,other-23525482,TEST PRODUCTION,,other,SJ,,[1],Point,"[-70.60693777999894, -33.50100890181019]"
...,...,...,...,...,...,...,...,...,...,...
684,Feature,Baño universal,Baño universal,,bath,SJ,,[2],Point,"[-70.611872482, -33.49973815]"
685,Feature,Salon Verde,Salon Verde,,auditorium,SJ,,[1],Point,"[-70.61438299, -33.5000108]"
686,Feature,Auditorio Centro de innovación UC,"Auditorio Centro de innovación UC, Anacleto An...",,auditorium,SJ,,[1],Point,"[-70.615135, -33.4977493]"
687,Feature,IMC,Instituto de Ingeniería Matemática y Computaci...,,other,SJ,,[2],Point,"[-70.61497841845777, -33.49964476408786]"
688,Feature,AP502,AP502,,classroom,NaN,,[5],Point,"[-70.61017991925826, -33.49669113095027]"

In [33]:
def string_to_array(x):
    return [x] if x else x

df_places.loc[
    (df_places['properties.categories'].apply(lambda x: isinstance(x, (str)))),
    "properties.categories"
] = df_places.loc[
    (df_places['properties.categories'].apply(lambda x: isinstance(x, (str)))),
    "properties.categories"
].apply(string_to_array)

In [34]:
df_places['properties'] = df_places.apply(lambda row: {
    'floors': row['properties.floors'],
    'categories': row['properties.categories']
}, axis=1)

df_places['geometry'] = df_places.apply(lambda row: {
    'type': row['geometry.type']
}, axis=1)

In [43]:
df_places["properties.categories"].explode().unique()

array(['food_lunch', 'other', 'bath', 'cash_machine', 'sports_place',
       'classroom', 'auditorium', 'bank', 'trash', 'universal bath',
       'computers', 'photocopy', 'lab', 'park_bicycle', 'laboratory',
       'studyroom', 'studyroom-classroom', '?'], dtype=object)

In [38]:
def build_feature(row):
    return {
        "type": row['type'],
        "properties": {
            "identifier": row['properties.identifier'],
            "name": row['properties.name'],
            "information": row['properties.information'],
            "categories": row['properties.categories'],
            "campus": row['properties.campus'],
            "faculties": row['properties.faculties'],
            "floors": row['properties.floors'],
        },
        "geometry": {
            "type": row['geometry.type'],
            "coordinates": row['geometry.coordinates']
        }
    }

In [39]:
geojson = {
    "type": "FeatureCollection",
    "features": df_places.apply(build_feature, axis=1).tolist()
}

In [40]:
geojson_str = json.dumps(geojson, indent=4)

In [41]:
with open("./places.json", "w") as f:
    f.write(geojson_str)